.Loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)),
    url("../../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
  transition: all 0.5 linear ease-in-out;
  animation: gayab 0.5s 3s forwards;
  overflow: hidden;
}

.overlay1 {
  z-index: 5;
  flex:1;
  height: 100%;
  background-color: red;
  width: 100%;
  color: black;
  font-family: cursive;
  font-size: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: play1 0.7s 0.3s forwards;
  transition: all 0.7s linear ease-in;
}
.overlay2 {
  z-index: 5;
  background-color: yellow;
  width: 100%;
  color: black;
  font-family: cursive;
  font-size: 9vh;
  display: flex;
  flex:1;
  justify-content: center;
  position: relative;
  align-items: center;
  animation: play2 1s 1s forwards;
  transition: all 1s linear ease-out;
}
.overlay3 {
  z-index: 5;
  height: 100%;
  background-color: green;
  width: 100%;
  color: black;
  font-family: cursive;
  font-size: 12vh;
  display: flex;
  flex:1;
  justify-content: center;
  position: relative;
  animation: play3 1s 2s forwards;
  align-items: center;
  transition: all 1s linear ease-in-out;
}

@keyframes play1{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100vw);
    }
}
@keyframes play2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100vw);
    }
}
@keyframes play3{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100vw);
    }
}

@keyframes gayab{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}