.Title3 {
  position: absolute;
  top: 24%;
  left: 13%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 17vw;
  color: white;
  cursor: default;
  flex-direction: column;
  font-family: "Permanent Marker", cursive;
}

.Name {
  color: rgb(255, 199, 250);
  text-shadow: -2px -3px rgb(161, 18, 90);
  transition: all 0.3s ease;
  padding: 0;
  animation: spin 2s alternate-reverse infinite;
  margin: 0;
}

/* .Name:hover {
  color: rgb(38, 17, 114);
} */

.Begin {
  margin: 0;
  text-shadow: -2px -7px brown;
  width: 100%;
  transition: all 0.3s ease;
}

/* .Begin:hover {
  color: rgb(173, 169, 169);
} */

@media (min-width: 400px) {
  .Title3 {
    display: none;
  }
}

@keyframes spin {
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0);
  }
}
