.Projects {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)),
    url("../../assets/images/bg.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.Info {
  position: relative;
  color: whitesmoke;
  top: 25vh;
  height: 60vh;
  width: 100%;
  margin: 10;
  /* border: 2px solid whitesmoke; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Select {
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 26vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.btn {
  background-color: whitesmoke;
  padding: 10px;
  display: block;
  border-radius: 10px;
  color: black;
  font-family: cursive;
  font-size: 22px;
  border: 4px solid red;
  cursor: pointer;
}

@media (max-width: 1001px) {
  .Info h1 {
    font-size: 4rem;
  }
}
@media (max-width: 801px) and (min-width: 700px) {
  .Info h1 {
    font-size: 3.3rem;
  }
}
@media (max-width: 700px) and (min-width: 530px) {
  .Info h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 530px) and (min-width: 405px) {
  .Info h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 405px) and (min-width: 330px) {
  .Info h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 329px) and (min-width: 230px) {
  .Info h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  .Info {
    top: 42vh;
  }
  .Info h1 {
    text-shadow: 1px 3px rgb(151, 18, 151);
  }
}

@media (max-width: 820px) and (min-width: 700px) {
  .Buttons {
    left: 40%;
  }
}
@media (max-width: 700px) and (min-width: 600px) {
  .Buttons {
    left: 27%;
  }
}
@media (max-width: 600px) and (min-width: 300px) {
  .Buttons {
    left: 0%;
  }
}
