.ProjectInfo{
    position: absolute;
    color:whitesmoke;
    top:2vh;
    left:35vw;
    /* animation: bounce 1.2s alternate-reverse infinite; */
}

.ProjectInfo h1{
    font-family: 'Permanent Marker';
    color:yellow;
    text-indent: inherit;
    font-size: 5rem;
    /* text-shadow: 2px 7px rgb(151, 18, 151); */
    transition: all .4s ease-in-out;
    cursor: default;
}

/* .HobbyInfo h1:hover{
    color:gold;
} */

@media(max-width:1001px){
    .ProjectInfo h1{
        font-size:4rem;
    }
}
@media(max-width:801px) and (min-width:700px){
    .ProjectInfo h1{
        font-size:3.3rem;
    }
}
@media(max-width:700px)and (min-width:530px){
    .ProjectInfo h1{
        font-size:3rem;
    }
}
@media(max-width:530px)and (min-width:405px){
    .ProjectInfo h1{
        font-size:2.5rem;
    }
}
@media(max-width:405px)and (min-width:330px){
    .ProjectInfo h1{
        font-size:2.4rem;
    }
}
@media(max-width:329px)and (min-width:230px){
    .ProjectInfo h1{
        font-size:2.1rem;
    }
}

@media(max-width:1300px) and (min-width:840px){
    .ProjectInfo{
        left:30vw;
        top:4.5vh;
    }
}
@media(max-width:840px) and (min-width:540px){
    .ProjectInfo{
        left:25vw;
        top:11.5vh;
    }
}
@media(max-width:540px) and (min-width:340px){
    .ProjectInfo{
        left:24vw;
        top:12.5vh;
    }
}
@media(max-width:340px) and (min-width:240px){
    .ProjectInfo{
        left:16vw;
        top:13.5vh;
    }
}